<link rel="stylesheet" href="css.css">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Góp Ý</li>
    </ol>
  </nav>
<div class="contact-square">
    <center>
        
        <div class="contact">
            <table>
                <tr>
                    <td>
                        Họ tên :
                    </td>
                    <td>
                        <input type="text" class="form-control" name="txtHoten" />
                    </td>
                </tr>
                <tr>
                    <td>
                        SĐT :
                    </td>
                    <td>
                        <input type="tel" class="form-control" name="txtTel" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Email :
                    </td>
                    <td>
                        <input type="email" class="form-control" name="txtEmail" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Bộ phận liên hệ :
                    </td>
                    <td>
                        <select class="form-control">
                            <option value="tuyensinh">Phòng Tuyển sinh</option>
                            <option value="daotao">Phòng Đào tạo</option>
                            <option value="bgh">Ban Giám hiệu </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Nội dung :
                    </td>
                    <td>
                        <textarea class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <button class="btn btn-success"> Gởi </button>
                       
                    </td>
                </tr>
            </table>
        </div>
    </center>
</div>