<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Liên Hệ</li>
    </ol>
  </nav>
<div class="row">
    <div class="card box-shadow col-12">
        <div class="card-body">
            <div class="card-text">
                <div class="footer-xs" style="text-decoration: underline; padding-top: 10px;">Cơ sở Hà Nội</div>
                <p><i class="fa fa-map-marker" style="color: #f7941d;"></i> Tòa nhà FPT Polytechnic (nhà H), Hàm
                    Nghi, Mỹ Đình, Nam Từ Liêm, Hà Nội<br>
                    (024) 7300 1955</p>
                <div class="footer-xs" style="text-decoration: underline; padding-top: 10px;">Cơ sở Đà Nẵng
                </div>
                <p><i class="fa fa-map-marker" style="color: #f7941d;"></i> Số 137 Nguyễn Thị Thập, Phường Hòa
                    Minh,
                    Quận Liên Chiểu, TP. Đà Nẵng<br>
                    <i class="fa fa-phone-square" style="color: #f7941d;"></i>(0236) 3710 999</p>
                <div class="footer-xs" style="text-decoration: underline; padding-top: 10px;">Cơ sở Cần Thơ
                </div>
                <p><i class="fa fa-map-marker" style="color: #f7941d;"></i> Số 288, Nguyễn Văn Linh, phường An
                    Khánh, quận Ninh Kiều, Tp. Cần Thơ.<br>
                    <i class="fa fa-phone-square" style="color: #f7941d;"></i>(0292) 7300 468</p>
            </div>

            <div class="card-text">
                <div class="footer-xs" style="text-decoration: underline; padding-top: 40px;">Cơ sở
                    Hồ Chí Minh</div>
                <p><i class="fa fa-map-marker" style="color: #f7941d;"></i> 391A Nam Kỳ Khởi Nghĩa,
                    Q. 3, TP. Hồ Chí Minh<br>
                    <i class="fa fa-phone-square" style="color: #f7941d;"></i>(028) 3526 8799<br>
                    <i class="fa fa-map-marker" style="color: #f7941d;"></i> 778/B1 Nguyễn Kiệm,
                    P.4, Q. Phú Nhuận, TP. Hồ Chí Minh<br>
                    (028) 62523434</p>
                <p><i class="fa fa-map-marker" style="color: #f7941d;"></i> Toà nhà Innovation, lô
                    24, Công viên phần mềm Quang Trung, Quận 12, Hồ Chí Minh<br>
                    <i class="fa fa-phone-square" style="color: #f7941d;"></i>(028) 3526 8799</p>
                <div class="footer-xs" style="text-decoration: underline; margin-top: 20px;">Cơ sở
                    Tây Nguyên</div>
                <p><i class="fa fa-map-marker" style="color: #f7941d;"></i> Số 27, Tòa nhà VIB (Tầng
                    2), đường Nguyễn Tất Thành, Tân Lợi, TP. Buôn Mê Thuột, Đắk Lắk<br>
                    <i class="fa fa-phone-square" style="color: #f7941d;"></i>(0262) 355 5678</p>
            </div>
        </div>
    </div>
</div>